{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Notre super site e-Commerce</h1>
            <p class="lead text-muted mb-0">Voici notre super version de site e-Commerce réalisée par Joëlle, Laura, Laurent, Teddy et Thomas</p>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                // Carousel
            </div>
            <div class="col-8 offset-2 col-md-3">
                // Coup de coeur
            </div>
        </div>
    </section>
{% endblock %}
