{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('css/product.css') }}">#}
{#{% endblock %}#}


{% block body %}
<div class="prod" >
    <h1>Produit</h1>
    <p> Festus, fidelis hydras mechanice resuscitabo de raptus, dexter heuretes.Heu.Peregrinationes superbe ducunt ad salvus frondator.</p>

</div>


{% endblock %}
